<h1>Room: {{ room.name }}</h1>
<ul id="chat-log"></ul>
<input id="chat-message-input" type="text" autocomplete="off">
<button id="chat-message-submit">Send</button>

<script>
    const roomName = "{{ room.name }}";
    const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector("#chat-log").innerHTML += "<li>" + data.message + "</li>";
    };

    document.querySelector("#chat-message-submit").onclick = function() {
        const messageInput = document.querySelector("#chat-message-input");
        chatSocket.send(JSON.stringify({"message": messageInput.value}));
        messageInput.value = "";
    };
</script>
