# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# Node / Tailwind
src/theme/static_src/node_modules
src/theme/static_src/.next
src/theme/static_src/dist

# Docker
.dockerignore
_docker/Dockerfile
_docker/docker-compose.yml

.venv