{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="h-screen bg-gray-50 text-black font-serif leading-normal tracking-normal">

{#    <nav>#}
{#        {% if user.is_authenticated %}#}
{#            Ingelogd als {{ user.email }} |#}
{#            <a href="{% url 'chat:room_list' %}">Rooms</a> |#}
{#            <a href="{% url 'logout' %}">Uitloggen</a>#}
{#        {% else %}#}
{#            <a href="{% url 'login' %}">Login</a>#}
{#        {% endif %}#}
{#    </nav>#}
{##}
{#    <hr/>#}

    {% block content %}{% endblock %}

    {% block js %}
        <script src="{% static 'js/htmx.min.js' %}"></script>
    {% endblock %}
</body>
</html>
