@import "tailwindcss";

@font-face {
  font-family: 'NotoSans';
  src: url('/static/fonts/noto/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/static/fonts/noto/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/static/fonts/noto/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@theme {
    --font-sans: 'NotoSans', 'sans-serif';

  --color-mint-50:  #F1FBF7;
  --color-mint-100: #DCF7EC;
  --color-mint-200: #BAEED9;
  --color-mint-300: #97E6C6;
  --color-mint-400: #7AD5AD;
  --color-mint-500: #5FBF96;
  --color-mint-600: #4BA37E;
  --color-mint-700: #398765;
  --color-mint-800: #286B4D;
  --color-mint-900: #185035;


}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
